.header,
.footer {
    position: fixed;
    width: 100%;
    left: 0;
	background-color:#000000;
	font-family: 'roboto';
	color:#ffffff;
}

.header {
    top: 0;
    height: 40px;
	padding-top:10px;
}

.footer {
    bottom: 0;
    height: 50px;
	padding-left:15%;
	padding-top:5px;
}

.header a{
	color:#ffffff;
	text-decoration: none;
	font-weight:500;
}


.centerDiv
{
	width: 100%;
	margin: 0 auto;
}

.infolieu{
	background-color: rgb(177, 177, 177);
}

.adresse {
	height:auto;
	overflow:auto;
	font-family: 'roboto';
	padding-top:15%;

	background-image: url("../imagescontact/arkadre_contact_cadre_tableau_encadrement_fond_haut.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.blocadresse {
	
}

.googleMaps {
	padding-left:23%;
	
}

.adresse img {
	float:left;
}
.infoAdresse {
		padding-top:20%;
		color:#ffffff;
}

.titreAdresse{
		padding-top:2%;
		font-family: 'Roboto'; 
		font-weight:bold;
		font-size:28px;
		color:#ffffff;
}

.infoAdresse{
		font-family: 'Roboto'; 
		font-style:bold;
		font-size:22px;
}

.infolieu {
	height:auto;
	overflow:auto;
	font-family: 'roboto';
	padding-bottom:55px;
	
}
.information {
	padding-left:25%;
	padding-top:10%;
}

.photolieu {
}

.clear{
clear:both;
}
